<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-graduation-cap"></i> Education</h6>
    <div class="px-3 pb-1">
        {% if site.data.profile.education %}
            {% for item in site.data.profile.education %}
            <div class="media py-3 {% if forloop.index != 1 %}border-top border-gray{% endif %}">
                {% assign not_first = true %}
                <!-- <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 110px; margin-right: 30px !important; margin-left: 10px !important;" class="mr-1 mt-1"> -->
                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 130px; padding-right: 10px; padding-left: 10px;" class="mr-1 mt-1">
                <div class="media-body">
                    <div><b>{{ item.name }}</b></div>
                    <div class="median-size d-flex">
                        <div>{{ item.position }}</div>
                        <div class="ml-auto mt-auto text-muted no-break"><i>{{ item.date }}</i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

