{% assign services = site.services %}
<!-- 根据site.data.display.homepage.services决定展示顺序 -->
{% assign display_order = site.data.display.homepage.services | split: "," %}

<div class="custom_box my-3 bg-white shadow-sm rounded-sm">
    <h2 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-handshake-angle"></i> Services</h2>
    <div class="px-3 pb-1">
        {% for service_name in display_order %}
            {% assign service = services | where: "title", service_name | first %}
            {% if service %}
                <div class="py-2 {% if forloop.index != 1 %}border-top border-gray {% endif %}">
                    <h5>{{ service.title }}</h5>
                    <ul class="list-unstyled">
                        {% for name in service.names %}
                            <li class="d-flex justify-content-between align-items-center">
                                <div>• &nbsp;&nbsp; 
                                    {% if name.name %}
                                        {{ name.name }}
                                    {% else %}
                                        {{ name }}
                                    {% endif %}
                                </div>
                                {% if name.date %}
                                    <div class="ml-auto text-muted no-break median-size">
                                        <i>{{ name.date}}</i>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>